@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
	--blue-violet-color-wheel: #540d6eff;
	--paradise-pink: #ee4266ff;
	--sunglow: #ffd23fff;
	--green-blue-crayola: #3e92ccff;
	--middle-blue-green: #84dccfff;
}


/*---------------- Eléments généraux----------------------- */

body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #74aabe;
}

h1{
	color:var(--middle-blue-green);
	text-align: center;
	margin:50px 10px 0 10px;
	padding:10px 0;
}

h2{
	color:var(--green-blue-crayola);
	font-family: 'Raleway', sans-serif;
	text-align: center;
	margin:30px 10px 10px 10px;
}

p{
	padding:0px 15px 0px 15px;
	font-weight: 400;
	line-height: 1.5em;
	margin:20px 10px 20px 10px;

  	overflow-wrap: break-word;
	-webkit-hyphens: auto;
  	-moz-hyphens: auto;
  	-ms-hyphens: auto;
  	hyphens: auto;
}

input{
	font-family: 'Raleway', sans-serif;
  	box-sizing: border-box;
  	border: 0;
  	font-size: medium;
}

.emballage{
	margin-left:11%;
	margin-right: 11%;
	max-width: 1000px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: white;
}

/* ----------------------Pied de page---------------- */

footer {
  background-color: #DBE9EE;
  text-align: center;
  height: 2em;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer p{
	margin:0 0 0 0;
	color:#8c8c8c;
	font-size: small;
}

.icone{
	background: var(--middle-blue-green) !important;
	border-radius: 50%;
	padding: 8px 8px 8px 8px;
	color:white;
}

.icone:hover{
	background: var(--paradise-pink) !important;
}


/* -------------------------------------------------------------- */
/* ---------------------Barre de navigation--------------------- */
/* -------------------------------------------------------------- */

nav{
	position: fixed;
	top: 0; 
	overflow: hidden;
	width: 100%;
	z-index: 1;
}

nav ul {
		background-color: #DBE9EE;
		margin: 0;
		padding-top: 1em;
		display: flex;
}

nav li{
		display: inline-block;
		background-color: #DBE9EE;
		margin-left:2em;
		padding: 0.5em 0.5em 0.5em 0.5em;
		border-radius: .3em .3em 0 0;
		text-transform: uppercase;
}

nav li a{
	text-decoration: none;
	color:var(--paradise-pink);
	padding-bottom:1em;
}

nav li a:hover{
 	color:var(--sunglow);
}

.nav-active{
	background-color: #FFFFFF;
}

.nav-link:hover{
	transition-property: background-color;
	transition-duration: 1s;
 	background-color: #eef4f7;
}

.nav-home{
}

/* Menu dropdown pour navigation mobile */
.dropbtn {
  background-color: #DBE9EE;
  color:var(--paradise-pink);
  font-size: large;
  border:2px solid #CCC;
  cursor: pointer;
  margin-left:1em;
  margin-top: 0.1em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: .3em;
  display:none;
  position:fixed;
}

.dropbtn:hover{
  background-color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: fixed;
  top:3em;
  background-color: #DBE9EE;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:3;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: medium;
  text-transform: uppercase;
}

.mobile-active{
  background-color: white;
  color: #f6a2b4;
}

.mobile-link{
  color: var(--paradise-pink);
 }

.dropdown-content a:hover {background-color: #97bfce;}

.show {display:block;}

/* Règles CSS qui s'appliquent pour les petites largeurs d'écran */

@media all and (max-width: 750px)
{  

  	.dropbtn{
    	display:initial;
    	z-index: 3;
	}

	.nav-link,.nav-active {
    	display:none;
    }

    .emballage{
    	margin-left:0;
		margin-right:0;
		overflow-x: hidden;
    }

    .quisuisje{
    	flex-direction: column;
    }

    .quisuisje p {
    	margin-bottom:10px;
    	margin-top: 5px;
    }

    .services {
    margin: 20px 10px 20px 10px !important;
	}

}


@media all and (max-width: 480px)
{  

	.bibliotheque2{
		max-width: 85% !important;
	}

	.bouquin {
		max-width: 94% !important;
		flex-direction:column;
	}

	.bouquin div{
		width: 94% ;
	}

	#heros-contact{
		display:none;		
	}

	.enchiffres{
		flex-direction:column;
	}

}

/* -------------------------------------------------------------- */
/* ---------------------Boutons en tous genres------------------- */
/* -------------------------------------------------------------- */
.boutonBIG{
	background: var(--paradise-pink);
	border-radius: 5px 10px 5px 10px;
	text-decoration: none;
	color:white;
	padding: 6px 10px 6px 10px;
	font-size: medium;
	margin: 0 auto;
}

.boutonBIG:hover{
	background: var(--middle-blue-green);
}

.boutonSMALL{
	text-decoration: none;
}

.boutonSMALL:hover{
	text-decoration: underline dotted;
}

.center{
	text-align: center;
}


/* -------------------------------------------------------------- */
/*------------------------ Page d'accueil ------------------------*/
/* -------------------------------------------------------------- */
.servicesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#serviceL{
 	max-height: 150px;
 	padding-top:5px;
}

.servicesgrid p{
	font-size: small;
	font-weight: 600;
	margin: 0px 10px 0px 0px;
}

.services{
	margin: 20px 14% 20px 14%;
	border-style: none;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.09);
	min-width: 140px;
	max-width: 250px;
}

.opening{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap-reverse;
	margin-bottom: 20px;
}

#heros{
	width:250px;
	min-width: 37%;
 	object-fit: contain;
 	margin: 20px 10px;
}

.habillage{
	flex:1;
	min-width: 340px;
}

.fondjoli{
	background-color: rgb(245, 251, 254);
	padding-bottom: 15px;
}

/* -------------------------------------------------------------- */
/* -----------------------Page qui suis-je----------------------- */
/* -------------------------------------------------------------- */
#avatar{
 	width: 200px;
}

.quisuisje{
	display:flex;
	justify-content:space-around;
	align-items: flex-start;
}

.enchiffres{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.chiffres{
	display:grid;
 	grid-template-columns: 20px minmax(min-content,min-content) 10px 20px;
  	grid-template-rows: 70px 1fr;
  	margin-top:40px;
}

.chiffres p{
	padding-right: 0px;
	padding-left: 0px;
	margin: 0px 0px 0px 0px;
}

.whatyear{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	color:var(--green-blue-crayola);
	font-weight: 600;
	text-align: left;
  	grid-column: 4 ;
  	grid-row: 1 ;
}

.year{
	font-size: 4.5rem;
	font-weight:bold;
	color:var(--green-blue-crayola);
	align-self: end;
	grid-column: 2 ;
  	grid-row: 1;
  	text-shadow: 4px 4px 4px #aaa;
}

.howyear{
	font-size: small;
  	text-align: center;
  	grid-column: 1 / span 4;
  	grid-row: 2;
}

.projpers{
	height:8em;
	max-width:13em;
	object-fit: contain;
	padding:2px;
}

.galerie-param{
    margin: 0 25px;
}


/* -------------------------------------------------------------- */
/*-------------------- Page prestations --------------------------*/
/* -------------------------------------------------------------- */

.bouquin{
	padding:5px;
	margin:5px;
	background-color: rgb(245, 251, 254);
	display: flex !important;
	align-items:center;
	max-width: 480px;
}

.bouquin p{
	font-size: smaller;
	padding:0;
	font-weight: 400;
	margin:0;
	text-align: left;
	max-width: 400px;
}

.bouquin a{
	text-decoration:none;
	font-size: smaller;
	padding-top:15px;
}

.bouquin img{
	height: 14em;
	box-shadow: 0 0 0 1px rgba(0,0,0,.09);
	margin:5px 10px 5px 10px;
}

.bouquin div{
	margin-top:15px;
}

.bouquin-seul img{
	height: 10em;
	box-shadow: 0 0 0 1px rgba(0,0,0,.09);
	margin:20px;
}

.etiquette{
	text-transform: uppercase;
	font-weight: bold;
	color:white;
	padding:0 2px 0 2px;
	margin:0px 2px 20px 2px;
}

.bibliotheque2{
	max-width: 500px;
	margin:0 auto;
	background-color: #eef4f7;
}

.bibliotheque3{
	max-width: 85%;
	margin:0 auto;
	background-color: #eef4f7;
}


/* -------------------------------------------------------------- */
/*-------------------- Page contact--------------------------*/
/* -------------------------------------------------------------- */
.logos {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#logo{
 	padding: 10px 50px 10px 50px;
}

.form-field{
	margin-right: 1px;
	margin-bottom: 17px;
	border-style: none;
	border-radius: 3px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.09);
	transition: box-shadow 150ms ease;
}

.form-label{
	display:grid;
	display: inline-block;
	width: 90px;
  	text-align: right;
  	font-size: small;
}

form{
  margin: 0 auto;
  width: 80%;
  max-width: 380px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}


.form-field input, textarea {
	font-family: 'Raleway', sans-serif;
  /* Pour que tous les champs texte aient la même dimension */
  	max-width: 360px;
  	width: 70%;
  	box-sizing: border-box;
  	border: 1px solid #999;
}


textarea{
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;
  height: 7em;
  resize: none;
}


#heros-contact{
	height:200px;
 	object-fit: contain;
 	margin-left: 10px;
}
